@media (min-width: 768px) {
    .section {
      margin-top: 5rem;
      max-width: 58rem;
      display: flex;
  
      &__orange {
        height: 31.5rem;
      }
      &__blue {
        height: 31.5rem;
      }
      &__green {
        height: 31.5rem;
      }
  
      &__button {
        &--orange {
          margin-top: 4.5rem;
        }
        &--blue {
          margin-top: 4.5rem;
        }
        &--green {
          margin-top: 4.5rem;
        }
      }
    }
  }
  